    
    #favourites {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
  
    // desktop size media queries at 1200px
    @media screen and (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  .vacation_flag {
    width: 73%;
    display: block;
    margin: 0 auto;
    margin-bottom: 9rem;
    margin-top: 1rem;
  }
  
  .vacation-name {
    text-align: center;
    font-size: 2rem;
  
    // desktop size media queries at 1200px
    @media screen and (min-width: 1200px) {
      font-size: 3rem;
    }
  }
  