html {
    position: relative;
    min-height: 100%;
}

body { 
    background: url(/images/worldmap.jpg) repeat $background; 
    color: black; 
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

h1 {
    color: $navlink;
    font-family: $titlefont;
    font-weight: bold;
}


h2 { 
    font-family: $polaroidfont;
    color: black;
}

nav {

    p {
        float: left;
        font-size: 15px;
        margin-top: 22px;
    }

    i {
        float: right;
        margin-top: 10px;
        margin-left: 7px;
        font-size: 30px;
        padding: 10px;
        padding-right: 15px;
        padding-left: 5px;
    }

    a {
        float: right;
        color: $navlink;
    }

    a:hover {
        color: $maintitle;
    }
}

#main-title h1 {
    color: $maintitle;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;

}

main {
    padding: 12px 20px;
    padding-top: 100px;
}

footer { 
    text-align: center;
    padding-top: 30px;
}

#favourites {
    width: 100%;
    text-align: center;
}

.vacation-cont {
    display: inline-block;
}

.vacation { 
    overflow: hidden; 
    display: inline-block; 
    text-align: center;
    margin: 0 2px 0px;
    border: 8px solid white;
    border-bottom-width: 0;
    background: $navlink;

    img {
        width: 100%;
    }

}

.vacation_flag {
    width: 73%;
    display: block;
    margin: 0 auto;
    margin-bottom: 9rem;
    margin-top: 1rem;
}

.vacation-name {
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
}

footer {

    h3 {
        font-size: 20px;
        font-family: $pfont;
        margin-bottom: 0;
        color: black;
    }

    p {
        font-size: 15px;
        margin-bottom: 2px;
        text-transform: initial;
        color: black;
        font-family: $pfont;
    }

    i {
        font-size: 50px;
        color: black;
    }

    a {
        color: $navlink;
    }

    a:hover {
        color: $maintitle;
    }

}

#insta-box {
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 5px;
    padding-bottom: 7px;
}

@media screen and (min-width: 400px) {

    .vacation { 
        border: 8px solid white;
    }

    .vacation-name {
        font-size: 20px;
    }

}

@media screen and (min-width: 768px) {

    .vacation { 
        border: 12px solid white;    
    }

    .vacation-name {
        font-size: 32px;
    }

}